@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Backyard Games Result Keeper</h1>
        <p class="lead">A Simple ASP.NET MVC/API Project For Results Tracking</p>
    </section>
    <section class="row">
        <div class="col-sm-4">
            <a href="/Player/List/" class="btn btn-primary">Players List</a>
        </div>
        <div class="col-sm-4">
            <a href="/Team/List/" class="btn btn-primary">Teams List</a>
        </div>
        <div class="col-sm-4">
            <a href="/Result/List/" class="btn btn-primary">Results List</a>
        </div>
    </section>
</main>