@model PassionProject_HTTP5226.Models.TeamDto

@{
    ViewBag.Title = "View";
}

<h1>Team Details</h1>

<h2><a href="#">@Model.TeamName</a></h2>
<div>Team Name: @Model.TeamName</div>

<a href="/Team/List">Go Back to List</a>