@model IEnumerable<PassionProject_HTTP5226.Models.PlayerDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create A New Team</h2>
<form action="/Team/Create" method="POST">
    <div>
        <label>Team Name:</label>
        <input type="text" name="TeamName" />
    </div>
    <div>
        <label>Players</label>
        <select name="PlayerId" id="PlayerId">
            <option value="null">---</option>
            @foreach (PassionProject_HTTP5226.Models.PlayerDto Player in Model)
            {
                <option value="@Player.PlayerId">@Player.PlayerName</option>
            }
            </select>
    </div>
    <input type="submit" value="Submit" />
</form>

