@model IEnumerable<PassionProject_HTTP5226.Models.PlayerDto>

@{
    ViewBag.Title = "List";
}

<h1>Player Roster</h1>
<a class="btn btn-success" href="/Player/New/">+ Add New Player</a> 
<table class="table">
    <tr>
        <th>Player Name</th>
        <th>Team Name</th>
        <th>Player Birthday</th>
        <th>Player Join Date</th>
        <th>Player Operations</th>
    </tr>

    @foreach (PassionProject_HTTP5226.Models.PlayerDto Player in Model)
    {
        <tr>
            <td><a href="/Player/Details/@Player.PlayerId">@Player.PlayerName</a></td>
            <td>@Player.TeamName</td>
            <td>@Player.PlayerDob</td>
            <td>@Player.PlayerJoin</td>
            <td><a class="btn btn-info" href="/Player/Edit/@Player.PlayerId">Edit</a><a class="btn btn-danger" href="/Player/DeleteConfirm/@Player.PlayerId">Delete</a></td>
        </tr>
    }

</table>