@{
    ViewBag.Title = "Home Page";
}
<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull" style="background-image: url('../../Content/imgs/aaron-james-BHzkfUH1dC8-unsplash.jpg'); background-size: cover; background-position: center center; height:300px;">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                <h1 class="display-3 fw-bold mb-3">Backyard Game Record Keeper</h1>
                </div>
            </div>
        </div>
</section>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Backyard Game Record Keeper</h1>
        <p class="lead">A simple MVC/WebAPI Application for Cornhole Scorekeeping.</p>
    </section>

    <div class="row">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2>Getting started</h2>
            <p>
                @Html.ActionLink("Players", "List", "Player", new { area = "" }, new { @class = "link-info" })<br />
                Provides a full roster of PLAYERS in the application database, and access to operations.
            </p>
            <p>
                @Html.ActionLink("Teams", "List", "Team", new { area = "" }, new { @class = "link-info" })<br />
                Provides a full roster of TEAMS in the application database, and access to operations.
            </p>
            <p>
                @Html.ActionLink("Results", "List", "Result", new { area = "" }, new { @class = "link-info" })<br />
                Provides a full list of RESULTS in the application database, and access to operations
            </p>
        </section>
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <h2>Current Limitations</h2>
            <ul>
                <li>
                    Need to Add Authentication
                </li>
                <li>
                    Need to Implement Image Upload
                </li>
                <li>
                    Would Like to Add League Standings logic to Front Page
                </li>
                <li>
                    Add Associate Player to Team function to Create Player form; does not seem to work in current iteration
                </li>
                <li>
                    Timestamp on Player Join always updates; want that to stay the same
                </li>



            </ul>
        </section>
    </div>
</main>