@model IEnumerable<PP_HTTP5226.Models.TeamDto>

@{
    ViewBag.Title = "List";
}

<h1>Team List</h1>
<a class="btn btn-success" href="/Team/New/">+ Add New Team</a>
<table class="table">
    <tr>
        <th>Team Name</th>
        <th>Team Name</th>
        <th>Team Operations</th>
    </tr>

    @foreach (var Team in Model)
    {
        <tr>
            <td><a href="/Team/Details/@Team.TeamId">@Team.TeamName</a></td>
            <td>@Team.TeamName</td>
            <td><a class="btn btn-info" href="/Team/Edit/@Team.TeamId">Edit</a><a class="btn btn-danger" href="/Team/DeleteConfirm/@Team.TeamId">Delete</a></td>
        </tr>
    }

</table>