@model IEnumerable<PP_HTTP5226.Models.TeamDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create A New Team</h2>
<form action="/Team/Create" method="POST">
    <div>
        <label>Team Name:</label>
        <input type="text" name="TeamName" />
    </div>
    <input type="submit" value="Submit" />
</form>

